<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AWESOME</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Homepage</a>
    </li>
  <!--  <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li> -->
  <!--  <li class="nav-item">
      <a class="nav-link" href="/postService">Post Service</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
</nav>
