<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials_customer/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>AWESOME</h1>
    <p>Welcome Customer to the AWESOME webapp</p>
  </div>
  <!--<div class="container">
    <p>You can use this interface to perform the following actions:</p>
    <ol>
      <li>Use the <a href="/ui_customer/services">Browse Offered Services</a> tab to view service offers
        posted by service providers.</li>
      <li></li>
    </ol>
  </div>-->
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
